[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-stubs = "*"
numpy = "*"
lxml = "*"
streamlit = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
data = "bash -c 'PYTHONPATH=. python3 bin/ipl_scenario_data.py'"
app = "bash -c 'PYTHONPATH=. streamlit run app.py'"